
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="mohamed gouaouri">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP</title>
</head>

<body>
    <h1>About us</h1>
    <p>We are a company that aims to create intelligent systems software founded by <?php echo $data?> </p>
</body>
</html>


